html {
    background-color: var(--backgroundcolor);
    scroll-behavior: smooth;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}
h1, div, p {
    color: var(--text)
}

:root {
    --backgroundcolor: #263740;
    --text: black;
}

.main-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 15px;
    gap: 1vh;
}

#submit {
    width: 10vw;
    height: 5vh;
}

.dice {
    display: flex;
    gap: 1vh;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1vh;
    align-items: center;
}

input {
    width: 40px;
}

.button {
    height: 10vw;
    max-height: 10vh;
    width: 10vw;
    max-width: 10vh;
}

#diceContainer {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#add {
    margin-top: 5vh;
}

#total {
    margin-bottom: 5vh;
}